* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    padding: 0%;
}

body {
    background-image: url("https://cdn.wallpapersafari.com/56/26/J8lj3L.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 500px;
    padding: 0%;
}

.note {
    background-color: rgba(128, 128, 128, 0.529);
    width: 300px;
    height: 300px;
    autocomplete: off;
}

.sticky {
    text-align: justify;
    position: absolute;
    top: 40px;
    font-family: cursive;
    display: inline-block;
    background-color: rgb(255, 223, 105);
    border-radius: 2px;
    width: 300px;
    height: 250px;

    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.46);

    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.stickyTitle {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: cursive;
    width: 100%;
    display: inline-block;
}

.sticky textarea {
    width: 100%;
    height: 79%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    font-family: cursive;
    font-size: medium;
    overflow: scroll;
    text-overflow: ellipsis;
}

.pin {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 100%;
    display: inline-block;
    margin-left: 125px;
}

footer {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;

    color: white;
    background-color: black;
}